
#root {
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "a b c"
	"e e e"
	"g h i";
}

#search-container {
  grid-area: b;
  display: grid;
  justify-content: center;
  align-content: center;
}

#result-container {
  grid-area: e;
  padding: 25px;
}

.card-container {
  list-style-type: none;
}

.card-container > img {
}



